# 01. intro

## 1. 변수

```
var_name = value
```
- 변수 이름은 어떤 이름이든 사용 가능
- but 영어, 숫자, _를 이용해서 선언
- 키워드는 불가능

In [ ]:
a = 100
a # 아래에 결과값 바로 출력

In [ ]:
import keyword
keyword.kwlist

### 1.1. number

In [ ]:
a = 10000 # 덮어씌우기 # 데이터 타입 다양
type(a) # integer: 정수

In [ ]:
b = 1.1
type(b) # float: 실수

In [ ]:
c = 1 + 1j
type(c) # complex: 복소수

### 1.2. boolean

In [ ]:
a = True
type(a) # boolean: 참 또는 거짓

### 1.3. string

- `'`, `"`를 이용하여 표현
- *문자열*
- *어디로 가느냐에 따라 모양이 달라질 수 있음*

In [ ]:
a = 'hello'
a

In [ ]:
print('hello my name is "Yoojin"')

In [ ]:
print('hello \nmy name is \'Yoojin\'') # \n: new line

In [ ]:
a = '''
hello
world
hi
''' # '''안의 것을 모두 문자로 인식
a

#### string interpolation

- %-formating
- str.format()
- f-string
- *문자열 사이에 변수를 넣는 법*

In [ ]:
age = 10

In [ ]:
print('홍길동은 %s살입니다.' % age)

In [ ]:
print('홍길동은 {}살입니다.'.format(age))

In [ ]:
print(f'홍길동은 {age}살입니다.')

## 2. 연산자

### 2.1. 산술연산자

In [ ]:
a = 5
b = 2

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

In [ ]:
result = divmod(a, b) # 몫과 나머지를 한번에 계산
print(result)

### 2.2. 비교연산자

In [ ]:
a = 5
b = 10

In [ ]:
print(a > b) # 맞으면 T 틀리면 F
print(a < b)
print(a >= b)
print(a <= b)

In [ ]:
print(a == b)
print(a != b)

In [ ]:
print('hi' == 'hi')
print('hi' == 'Hi')

### 2.3. 논리연산자

- and: 양쪽 모두 True일 때, True를 반환
- or: 양쪽 모두 False일 때, False를 반환 *(둘 중에 하나라도 True라면 True)*
- not: 상태를 부정

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
a = True
print(not a)

#### 단축평가

In [ ]:
print(3 and 5) # 앞이 T인 경우 '뒤'를 반환
print(3 and 0)
print(0 and 5) # 앞이 F인 경우 '앞'을 반환
print(0 and 0)

In [ ]:
print(3 or 5) # 앞이 T인 경우 '앞'을 반환
print(3 or 0)
print(0 or 5) # 앞이 F인 경우 '뒤'를 반환
print(0 or 0)

### 2.4. 복합연산자

In [ ]:
a = 2
b = 3

In [ ]:
a = a + b # 오른쪽의 값을 왼쪽에 할당
a += b

In [ ]:
a = a - b
a -= b

In [ ]:
a = a * b
a *= b

In [ ]:
a = a / b
a /= b

In [ ]:
a = a // b
a //= b

In [ ]:
a = a % b
a %= b

In [ ]:
a = a ** b
a **= b

### 2.5. 기타연산자

In [ ]:
a = 'hi'
b = 'hello'

In [ ]:
print(a + b) # concatenation: 연결

In [ ]:
print(a + 1) # error: 앞이 str 이므로 concetention으로 인식

In [ ]:
print(1 + b) # error: 앞이 int이므로 plus로 인식

In [ ]:
a = [1, 2, 3]
b = [2, 3, 4]

In [ ]:
print(a + b) # concatenation

In [ ]:
print(1 in a) # contain
print(10 in a)

In [ ]:
a = 256
b = 256
c = 257
d = 257

In [ ]:
print(a == b) # a와 b의 값이 같은가?
print(a is b) # a가 b인가?
# is: a와 b가 본질적으로 같은 객체인지 = 메모리를 차지하는 위치가 같은지
print(c == d)
print(c is d) # 256까지는 자주 쓰는 숫자이므로 이미 메모리를 차지하고 있음

#### 연산자 우선순위

0. ()를 통해서 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [ ]:
print(-3 ** 4)
print((-3) ** 4)

## 3. 형변환

### 3.1. 암시적 형변환

- *자동으로 바뀜*
- True, False를 숫자로/ 1, 0을 True, False로

In [ ]:
a = True # 1
b = False # 0
c = 2

In [ ]:
print(a + b)
print(a + c)

### 3.2. 명시적 형변환

- int()
- float()
- str()
- bool()

In [ ]:
a = 1
b = '반'

In [ ]:
print(a + b) # error

In [ ]:
print(str(a) + b) # 대부분의 경우 str로 변환 가능

In [ ]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

In [ ]:
c = 'apple'
d = int(c) # error: 숫자로 바꿀 수 있는 형태여야 가능

In [ ]:
a = 1
b = 0 # 0만 False, 0이 아닌 나머지 데이터는 True
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

In [ ]:
print(bool([])) # 데이터가 하나도 없으면  False
print(bool([3])) # 하나라도 있으면 True

## 4. 시퀀스 자료형

- 시퀀스는 데이터의 **순서대로** 나열된 자료 구조
    - 순서대로 나열되었다는 것은 정렬된 것과 다름
1. List
2. Tuple
3. Range
4. String

### 4.1. List(리스트, 배열)

- 선언: `var_name = [value1, value2, value3, ...]`
- 접근: `var_name[index]` *(index: 숫자 데이터/ 0, 1, 2, 3번째...)*

In [ ]:
l = []
print(l)
print(type(l))

In [ ]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[3]) # error: 내가 가지고 있는 숫자의 범위까지만 가져올 수 있음

In [ ]:
location[1] = '대구' # 재할당
print(location)

### 4.2. Tuple(튜플)

- 선언: `var_name = (value1, value2, value3, ...)`
- 접근: `var_name[index]` *(순서가 있는 것은 대괄호 인덱스 접근)*
- 수정불가능하다(immutable) *(불변하다)*

In [ ]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

In [ ]:
location[2] = '부산' # error: 재할당 불가/ 튜플은 한번 만들어두면 변하지 않음

In [ ]:
result = divmod(5, 2)
print(result)
print(type(result))

In [ ]:
x = 1
y = 2
(x, y) = (y, x) # 변수값을 편하게 바꿀 때 사용
print(x, y)

### 4.3. Range

- 선언
    - `range(n)`: 0부터 n-1까지 범위 *(0 이상 n 미만)*
    - `range(n, m)`: n부터 m-1까지 범위
    - `range(n, m, s)`: n부터 m-1까지 s만큼 증가하는 범위 *(s를 더한다)*

In [ ]:
lotto = range(45)
print(lotto)
print(list(lotto)) # 형변환

In [ ]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

In [ ]:
even = range(2, 21, 2) # 짝수만 뽑기
print(list(even))

In [ ]:
numbers = range(0, -21, -2) # 음수도 가능
print(list(numbers))

### 4.4. String

In [ ]:
s = 'hi my name is Jin' # 순서대로 나열된 단어의 집합체
print(s[0])
print(list(s))

### 4.5. 시퀀스에서 활용 가능한 연산/함수

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [ ]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

In [ ]:
# slicing
# var_name[index1:index2] # 시작점과 끝점을 주면 글자를 잘라줌
print(my_list[0:2])
print(my_tuple[0:2])
print(my_range[0:2])
print(my_string[0:2])

In [ ]:
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

In [ ]:
# 인덱스 생략
print(my_list[3:]) # n부터 끝까지
print(my_list[:3]) # 앞에서부터 n-1까지

In [ ]:
# 음수 인덱스
print(my_list[-1]) # 맨 뒤 찾을 때 사용
print(my_list[1:-1]) # 맨 앞, 맨 뒤 자를 때 사용

In [ ]:
# step
print(my_list[::2]) # 2칸씩 건너

In [ ]:
# in
print(1 in my_list)
print('a' in my_list)
print('z' not in my_list)

In [ ]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))
print(my_tuple + [1, 2, 3]) # error: 리스트는 리스트끼리, 튜플은 튜플끼리

In [ ]:
# *
print(my_list * 2) # 연결을 2번 함
print('a' * 5)
print([0] * 10) # 직접 쓰는 것보다 편함

In [ ]:
# len
len(my_list) # length

In [ ]:
# max, min
print(max(my_list)) # 영어도 숫자로 인식해서 큰 수를 선택
print(min(my_list))

## 5. 시퀀스형이 아닌 자료 구조

### 5.1. Set

- 수학에서의 집합과 비슷한 개념(중복값이 없음)
- 선언: `var_name = {value1, value2, value3, ...}`
- *순서가 아니기 때문에 접근이 의미가 없음*
- *단일 데이터가 아니라 집합 전체를 봄*

In [ ]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [ ]:
print(my_set_a)
print(my_set_b)

In [ ]:
my_set_a = {1, 2, 3, 4, 5, 5 ,5, 5}
print(my_set_a) # 5를 아무리 많이 넣어도 하나로 인식

In [ ]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

In [ ]:
location = ['서울', '대구', '광주', '부산', '광주', '부산']
print(set(location)) # 형변환: 중복값을 없애려고 사용

### 5.2. Dictionary

- 선언: `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근: `var_name[key]` *value를 기준으로는 접근 불가능*

In [ ]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

In [ ]:
my_info ={
    'name': 'Yoojin',
    'location': 'Seoul',
    'age': 27,
    'skill': ['python', 'git'],
}
# 스트링, 숫자, 리스트 등 모두 넣을 수 있음

In [ ]:
print(my_info['name'])
print(my_info['skill'][1]) # my_info['skill']: list, [1]: index

## 정리

**데이터 타입**
1. Number
2. Boolean
3. String

**자료 구조**
- 시퀀스
    1. [List]: mutable *수정 가능*
    2. (Tuple): immutable *수정 불가*
    3. range(): immutable
    4. 'String': immutable
- 시퀀스가 아닌 것
    1. {Set}: mutable
    2. {Dict: ionary}: mutable

In [ ]:
a = 'hello'
a[0] = 'H' # error: 안의 세부 내용을 바꿀 수 없음

In [ ]:
my_t = (1, 2, 3)
print(my_t)
my_t = (4, 5, 6)
print(my_t) # 전체를 바꾸는 것은 가능

# 02. control of flow (제어문)

## 1. 조건문 (if문)

1. if문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용
    - `if <조건식>:`
2. `<조건식>`이 참인 경우: `:` 이후의 문장을 실행
3. `<조건식>`이 거짓인 경우: `else` 이후의 문장을 실행
```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```
- *else 뒤에는 조건식이 없어도 됨 위에서 이미 판별했기 떄문*

In [ ]:
my_string = input() # input: 사용자가 마음대로 입력하고 싶을 때 사용
print(my_string)

if my_string == '12/25':
    print('Merry Christmas!')
else:
    print('No')

In [ ]:
num = input()
print(num)

if num % 2 == 1: # error: num을 글자로 인식
    print('odd')
else:
    print('even')

In [ ]:
num = input('숫자를 입력해주세요')
print(num)

if int(num) % 2 == 1: # 형변환
    print('odd')
else:
    print('even')

In [ ]:
num = int(input())
print(num)

if num % 2: # if문 안쪽은 True(1)여야 함
    print('odd')
else:
    print('even')

### 1.1. elif

- *else if*
```
if <조건식>:
    if문이 참인 경우
elif <조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건이 거짓인 경우
```

In [ ]:
score = int(input())
print(score)

if score >= 90:
    print('A')
    if score >= 95: # if문 중첩
        print('good!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

### 1.2. 조건표현식

- `true_value if <조건식> else false value`

In [ ]:
a = 0

if False:
    a = 100
else:
    a = -100
    
print(a)

In [ ]:
a = 100 if False else -100
print(a) # 참/거짓에 따라 특정한 값을 표현하고 싶을 때 사용

In [ ]:
num = int(input())
print(num)

if num >= 0:
    result = num
else:
    result = 0
print(result)

In [ ]:
num = int(input())
print(num)

result = num if num >= 0 else 0
print(result)

## 2. 반복문

### 2.1. while문

```
while <조건식>:
    실행할 코드
```
- *조건식이 참인 동안 코드를 반복하다가 조건식이 거짓이 되면 멈춤*

In [ ]:
a = 0

while a < 5: # 언제 끝나는지 조건을 만들어주는 것이 중요
    print(a) # 지정하지 않으면 무한루프에 빠짐
    a = a + 1

### 2.2. for문

- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

In [ ]:
words = 'apple'

for word in words:
    print(word)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(1, 51):
    if i % 5 == 0: # for문에 if 중첩
        print(i)

In [ ]:
locations = ['서울', '대전', '부산']

for location in enumerate(locations): # 낱낱이 세다
    print(location)

In [ ]:
for (index, location) in enumerate(locations):
    print(index)
    print(location)

### 2.3. dictionary 반복

1. `for key in dict:`
2. `for key in dict.keys():`
3. `for value in dict.values():`
4. `for kwy, value in dict.items():`

In [ ]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [ ]:
for k in info:
    print(k)

In [ ]:
for k in info.keys():
    print(k)

In [ ]:
for k in info.keys():
    print(k)
    print(info[k])

In [ ]:
for v in info.values():
    print(v)

In [ ]:
for k, v in info.items():
    print(k, v)

In [ ]:
blood = {
    'A': 15,
    'B': 8,
    'O': 5,
    'AB': 4,
}

In [ ]:
print('혈액형의 종류')

for k in blood:
    print(k)

In [ ]:
# 총 학생 수
result = 0
for v in blood.values():
    result += v
print(result)

In [ ]:
for k, v in blood.items():
    print(f'{k}형은 {v}명입니다.')

### 2.4. break

- 반복문을 종료시키는 키워드

In [ ]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 break')
        break

In [ ]:
while True:
    rice = input() # 반복할 때마다 input을 받아야하기 때문에 반복문 안에 씀
    print(rice)
    if rice == '쌀':
        print('잡았다!')
        break

### 2.5. continue

- `continue` 이후의 코드를 실행하지 않고 다음 반복을 진행

In [ ]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

In [ ]:
for i in range(20):
    if i % 2 == 1:
        print(i)

In [ ]:
ages = [10, 20, 30, 25, 23, 43, 9, 20]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

In [ ]:
for age in ages:
    if age >= 20:
        print(f'{age}살은 성인입니다.')

### 2.6. else

- else문은 끝까지 반복된 경우 실행 = break를 만나지 않은 경우 실행

In [ ]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('all clear')

# 03. function (함수)

## 1. 함수의 선언과 호출

- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```
- 호출 `func_name(parameter1, parameter2, ...)`
    - *소괄호가 열림 = 함수가 호출됨*

In [1]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')

In [2]:
rectangle(50, 30)
rectangle(20, 100)

사각형의 면적은 1500이고 둘레는 160입니다.
사각형의 면적은 2000이고 둘레는 240입니다.

In [3]:
dir(__builtins__) # python이 이미 가지고 있는 함수

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [4]:
max(100, 2)

100

In [5]:
def my_max(a, b):
    if a > b:
        print(a)
    else:
        print(b)

In [7]:
my_max(200, 20)

200

## 2. 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None *(= null 아무것도 없음)* 을 자동으로 반환
- return은 오직 하나의 객체만 반환

In [8]:
result = my_max(1, 2)
print(result)
# result * 2 -> error

2
None

In [9]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [10]:
my_max2(2, 10)

10

In [11]:
result = my_max2(1, 2)
print(result)
result * 2

2

4

In [12]:
def my_def(x):
    return x * 2, x

my_def(10) # 하나의 데이터만 반환하므로 tuple이 출력됨

(20, 10)

In [13]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(5) # return을 만나서 반복문 종료

0
1
2
3

3

In [14]:
# 리스트의 합을 비교하여 큰 것 출력
def my_list_max(list1, list2):
    result1 = list1[0] + list1[1] + list1[2]
    result2 = list2[0] + list2[1] + list2[2]

    if result1 > result2:
        return list1
    else:
        return list2

In [15]:
def my_list_max(list1, list2):
    result1 = 0
    result2 = 0
    for i in range(len(list1)):
        result1 += list1[i]
    for j in range(len(list2)):
        result2 += list2[j]
    if result1 > result2:
        return list1
    else:
        return list2

In [16]:
def my_list_max(list1, list2):
    result1 = sum(list1)
    result2 = sum(list2)

    if result1 > result2:
        return list1
    else:
        return list2

In [17]:
def my_list(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

## 3. 함수의 인수

### 3.1. 위치 인수

- 기본적으로 함수는 위치를 기준으로 인수를 판단

In [18]:
def cylinder(r, h): # 원기둥의 부피
    return 3.14 * r ** 2 * h

In [19]:
cylinder(3, 10)

282.6

In [20]:
cylinder(10, 3)

942.0

### 3.2. 기본값

```python
def func_name(p1=v1):
    code1
    return value
```

In [21]:
def greeting(name):
    return f'{name}님 반갑습니다.'

In [22]:
# greeting() -> error: missing positional argument(위치 인자 빠짐)

In [23]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [24]:
greeting() # 기본값 설정시 값을 넣지 않아도 됨

'익명님 반갑습니다.'

In [25]:
# def print(*object, sep=' ', end='\n')

In [27]:
# def greeting(name='익명', age) -> error: 기본값 인자는 위치 인자보다 뒤에 나와야

def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [30]:
greeting(10)

'익명님의 나이는 10살입니다.'

### 3.3. 키워드 인수

- 함수를 호출할 때 내가 원하는 위치에 직접적으로 값을 전달

In [31]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [32]:
greeting(name='길동', age=10)

'길동님의 나이는 10살입니다.'

### 3.4. 가변 인자 리스트

- *변할 수 있는*
```python
def func_name(*params):
    code
    ...
    return value
```

In [34]:
max(1, 2, 3, 4, 5, 6, 7) # 인자를 몇개 넣든 실행 가능

7

In [43]:
def my_max(*numbers):
    max_num = numbers[0]

    for number in numbers:
        if max_num < number:
            max_num = number
    return max_num

In [45]:
my_max(1, 2, 3, 40, 5, 6, 7)

40

### 3.5. 정의되지 않는 키워드 인자 처리하기

```python
def func_name(**kwargs): # keyward arguments
    return value
```
- *가변 인자 리스트와 비슷*
- *키워드가 몇개 들어오든지 묶어서 dictionary로 만들어줌*

In [46]:
info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [47]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [48]:
def my_func(parmas1, params2='temp', *numbers, **kwargs):
    return 0

In [53]:
my_func(123) # params1 = 123, params2 = 'temp'
my_func(123, 234) # params1 = 123, params2 = 234
my_func(123, 234, 456, 789) # params1 = 123, params2 = 234, numbers = (456, 789)
my_func(123, 234, 456, 789, a=1, b=2, c=3) # kwargs = {a: 1. b: 2, c: 3}

0

### 3.6. 타입힌트

In [57]:
def something(a: int, b: int) -> int: # parameter의 타입힌트 -> return의 타입힌트
    return a + b

## 4. lambda 표현식

```python
lambda parameter: expression
```
- *임시함수, 일회용함수, 익명함수*
- *장점: 빠르다*
- *메모리에 올라가지 않고 한번 실행되면 휘발됨*

In [54]:
def my_sum(num1, num2):
    return num1 + num2

In [56]:
(lambda num1, num2: num1 + num2)(1, 2)

3

## 5. 이름공간(namespace), 스코프(scope)

- python에서 사용하는 이름들은 이름공간에 저장되어 있음
- LEGB 룰에 따라 접근 *(위에서 아래로 갈수록 넓은 범위)*
    1. Local: 정의된 함수 내부
    2. Enclosed: 상위 함수
    3. Global: 함수 밖
    4. Built_in: python이 기본적으로 가지고 있는 함수

In [58]:
result = str(123) # Built_in
print(result)

123

In [59]:
str = 'hello'

In [60]:
result = str(123) # Built_in
print(result) # error: str을 위에서 변수로 정의

TypeError: 'str' object is not callable

In [61]:
del str # 변수 삭제

In [62]:
a = 1

def local_scope(a): # Local
    # a = 'asdf'
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [63]:
a = 1

def local_scope(b):
    # b = 'asdf'
    return a

a = '가나다라' # a =1 => a = '가나다라'

local_scope('asdf')

'가나다라'

In [64]:
my_list = [1, 2, 3, 4, 5]

for i in my_list:
    # i = ...
    print(i)
print(i) # 맨 마지막에 저장된 i 값 = 5

1
2
3
4
5
5

In [65]:
a = 0

def global_scope():
    a = a + 1
    return a

global_scope() # error: a를 마음대로 계산할 수 없음

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [66]:
a = 0

def global_scope():
    global a # 함수 밖에 있는 a를 쓸거야
    a = a + 1
    return a

global_scope()

1

## 6. 재귀

- 함수 내부에서 자기 자신을 호출하는 함수
```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```
- *recursion*

In [67]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [69]:
fact(10)

# fact(10 fact(9 fact(8 ...))) -> 안에서부터 계산

3628800

- *(: 함수 실행*
- *): 함수 종료*