## 1. 조건문 (if문)

1. if문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용
    - `if <조건식>:`
2. `<조건식>`이 참인 경우: `:` 이후의 문장을 실행
3. `<조건식>`이 거짓인 경우: `else` 이후의 문장을 실행
```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```
- *else 뒤에는 조건식이 없어도 됨 위에서 이미 판별했기 떄문*

In [ ]:
my_string = input() # input: 사용자가 마음대로 입력하고 싶을 때 사용
print(my_string)

if my_string == '12/25':
    print('Merry Christmas!')
else:
    print('No')

In [ ]:
num = input()
print(num)

if num % 2 == 1: # error: num을 글자로 인식
    print('odd')
else:
    print('even')

In [ ]:
num = input('숫자를 입력해주세요')
print(num)

if int(num) % 2 == 1: # 형변환
    print('odd')
else:
    print('even')

In [ ]:
num = int(input())
print(num)

if num % 2: # if문 안쪽은 True(1)여야 함
    print('odd')
else:
    print('even')

### 1.1. elif

- *else if*
```
if <조건식>:
    if문이 참인 경우
elif <조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건이 거짓인 경우
```

In [ ]:
score = int(input())
print(score)

if score >= 90:
    print('A')
    if score >= 95: # if문 중첩
        print('good!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

### 1.2. 조건표현식

- `true_value if <조건식> else false value`

In [ ]:
a = 0

if False:
    a = 100
else:
    a = -100
    
print(a)

In [ ]:
a = 100 if False else -100
print(a) # 참/거짓에 따라 특정한 값을 표현하고 싶을 때 사용

In [ ]:
num = int(input())
print(num)

if num >= 0:
    result = num
else:
    result = 0
print(result)

In [ ]:
num = int(input())
print(num)

result = num if num >= 0 else 0
print(result)

## 2. 반복문

### 2.1. while문

```
while <조건식>:
    실행할 코드
```
- *조건식이 참인 동안 코드를 반복하다가 조건식이 거짓이 되면 멈춤*

In [ ]:
a = 0

while a < 5: # 언제 끝나는지 조건을 만들어주는 것이 중요
    print(a) # 지정하지 않으면 무한루프에 빠짐
    a = a + 1

### 2.2. for문

- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

In [ ]:
words = 'apple'

for word in words:
    print(word)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(1, 51):
    if i % 5 == 0: # for문에 if 중첩
        print(i)

In [ ]:
locations = ['서울', '대전', '부산']

for location in enumerate(locations): # 낱낱이 세다
    print(location)

In [ ]:
for (index, location) in enumerate(locations):
    print(index)
    print(location)

### 2.3. dictionary 반복

1. `for key in dict:`
2. `for key in dict.keys():`
3. `for value in dict.values():`
4. `for kwy, value in dict.items():`

In [ ]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [ ]:
for k in info:
    print(k)

In [ ]:
for k in info.keys():
    print(k)

In [ ]:
for k in info.keys():
    print(k)
    print(info[k])

In [ ]:
for v in info.values():
    print(v)

In [ ]:
for k, v in info.items():
    print(k, v)

In [ ]:
blood = {
    'A': 15,
    'B': 8,
    'O': 5,
    'AB': 4,
}

In [ ]:
print('혈액형의 종류')

for k in blood:
    print(k)

In [ ]:
# 총 학생 수
result = 0
for v in blood.values():
    result += v
print(result)

In [ ]:
for k, v in blood.items():
    print(f'{k}형은 {v}명입니다.')

### 2.4. break

- 반복문을 종료시키는 키워드

In [ ]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 break')
        break

In [ ]:
while True:
    rice = input() # 반복할 때마다 input을 받아야하기 때문에 반복문 안에 씀
    print(rice)
    if rice == '쌀':
        print('잡았다!')
        break

### 2.5. continue

- `continue` 이후의 코드를 실행하지 않고 다음 반복을 진행

In [ ]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

In [ ]:
for i in range(20):
    if i % 2 == 1:
        print(i)

In [ ]:
ages = [10, 20, 30, 25, 23, 43, 9, 20]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

In [ ]:
for age in ages:
    if age >= 20:
        print(f'{age}살은 성인입니다.')

### 2.6. else

- else문은 끝까지 반복된 경우 실행 = break를 만나지 않은 경우 실행

In [ ]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('all clear')

# 03. function (함수)

- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```
- 호출 `func_name(parameter1, parameter2, ...)`
    - *소괄호가 열림 = 함수가 호출됨*

In [1]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')

In [2]:
rectangle(50, 30)
rectangle(20, 100)

사각형의 면적은 1500이고 둘레는 160입니다.
사각형의 면적은 2000이고 둘레는 240입니다.

In [3]:
dir(__builtins__) # python이 이미 가지고 있는 함수

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [4]:
max(100, 2)

100

In [5]:
def my_max(a, b):
    if a > b:
        print(a)
    else:
        print(b)

In [7]:
my_max(200, 20)

200

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None *(= null 아무것도 없음)* 을 자동으로 반환
- return은 오직 하나의 객체만 반환

In [8]:
result = my_max(1, 2)
print(result)
# result * 2 -> error

2
None

In [9]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [10]:
my_max2(2, 10)

10

In [11]:
result = my_max2(1, 2)
print(result)
result * 2

2

4

In [12]:
def my_def(x):
    return x * 2, x

my_def(10) # 하나의 데이터만 반환하므로 tuple이 출력됨

(20, 10)

In [13]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(5) # return을 만나서 반복문 종료

0
1
2
3

3

In [14]:
# 리스트의 합을 비교하여 큰 것 출력
def my_list_max(list1, list2):
    result1 = list1[0] + list1[1] + list1[2]
    result2 = list2[0] + list2[1] + list2[2]

    if result1 > result2:
        return list1
    else:
        return list2

In [15]:
def my_list_max(list1, list2):
    result1 = 0
    result2 = 0
    for i in range(len(list1)):
        result1 += list1[i]
    for j in range(len(list2)):
        result2 += list2[j]
    if result1 > result2:
        return list1
    else:
        return list2

In [16]:
def my_list_max(list1, list2):
    result1 = sum(list1)
    result2 = sum(list2)

    if result1 > result2:
        return list1
    else:
        return list2

In [17]:
def my_list(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

### 3.1. 위치 인수

- 기본적으로 함수는 위치를 기준으로 인수를 판단

In [18]:
def cylinder(r, h): # 원기둥의 부피
    return 3.14 * r ** 2 * h

In [19]:
cylinder(3, 10)

282.6

In [20]:
cylinder(10, 3)

942.0

### 3.2. 기본값

```python
def func_name(p1=v1):
    code1
    return value
```

In [21]:
def greeting(name):
    return f'{name}님 반갑습니다.'

In [22]:
# greeting() -> error: missing positional argument(위치 인자 빠짐)

In [23]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [24]:
greeting() # 기본값 설정시 값을 넣지 않아도 됨

'익명님 반갑습니다.'

In [25]:
# def print(*object, sep=' ', end='\n')

In [27]:
# def greeting(name='익명', age) -> error: 기본값 인자는 위치 인자보다 뒤에 나와야

def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [30]:
greeting(10)

'익명님의 나이는 10살입니다.'

### 3.3. 키워드 인수

- 함수를 호출할 때 내가 원하는 위치에 직접적으로 값을 전달

In [31]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [32]:
greeting(name='길동', age=10)

'길동님의 나이는 10살입니다.'

### 3.4. 가변 인자 리스트

- *변할 수 있는*
```python
def func_name(*params):
    code
    ...
    return value
```

In [34]:
max(1, 2, 3, 4, 5, 6, 7) # 인자를 몇개 넣든 실행 가능

7

In [43]:
def my_max(*numbers):
    max_num = numbers[0]

    for number in numbers:
        if max_num < number:
            max_num = number
    return max_num

In [45]:
my_max(1, 2, 3, 40, 5, 6, 7)

40

### 3.5. 정의되지 않는 키워드 인자 처리하기

```python
def func_name(**kwargs): # keyward arguments
    return value
```
- *가변 인자 리스트와 비슷*
- *키워드가 몇개 들어오든지 묶어서 dictionary로 만들어줌*

In [46]:
info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [47]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [48]:
def my_func(parmas1, params2='temp', *numbers, **kwargs):
    return 0

In [53]:
my_func(123) # params1 = 123, params2 = 'temp'
my_func(123, 234) # params1 = 123, params2 = 234
my_func(123, 234, 456, 789) # params1 = 123, params2 = 234, numbers = (456, 789)
my_func(123, 234, 456, 789, a=1, b=2, c=3) # kwargs = {a: 1. b: 2, c: 3}

0

### 3.6. 타입힌트

In [57]:
def something(a: int, b: int) -> int: # parameter의 타입힌트 -> return의 타입힌트
    return a + b

## 4. lambda 표현식

```python
lambda parameter: expression
```
- *임시함수, 일회용함수, 익명함수*
- *장점: 빠르다*
- *메모리에 올라가지 않고 한번 실행되면 휘발됨*

In [54]:
def my_sum(num1, num2):
    return num1 + num2

In [56]:
(lambda num1, num2: num1 + num2)(1, 2)

3

## 5. 이름공간(namespace), 스코프(scope)

- python에서 사용하는 이름들은 이름공간에 저장되어 있음
- LEGB 룰에 따라 접근 *(위에서 아래로 갈수록 넓은 범위)*
    1. Local: 정의된 함수 내부
    2. Enclosed: 상위 함수
    3. Global: 함수 밖
    4. Built_in: python이 기본적으로 가지고 있는 함수

In [58]:
result = str(123) # Built_in
print(result)

123

In [59]:
str = 'hello'

In [60]:
result = str(123) # Built_in
print(result) # error: str을 위에서 변수로 정의

TypeError: 'str' object is not callable

In [61]:
del str # 변수 삭제

In [62]:
a = 1

def local_scope(a): # Local
    # a = 'asdf'
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [63]:
a = 1

def local_scope(b):
    # b = 'asdf'
    return a

a = '가나다라' # a =1 => a = '가나다라'

local_scope('asdf')

'가나다라'

In [64]:
my_list = [1, 2, 3, 4, 5]

for i in my_list:
    # i = ...
    print(i)
print(i) # 맨 마지막에 저장된 i 값 = 5

1
2
3
4
5
5

In [65]:
a = 0

def global_scope():
    a = a + 1
    return a

global_scope() # error: a를 마음대로 계산할 수 없음

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [66]:
a = 0

def global_scope():
    global a # 함수 밖에 있는 a를 쓸거야
    a = a + 1
    return a

global_scope()

1

## 6. 재귀

- 함수 내부에서 자기 자신을 호출하는 함수
```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```
- *recursion*

In [67]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [69]:
fact(10)

# fact(10 fact(9 fact(8 ...))) -> 안에서부터 계산

3628800

- *(: 함수 실행*
- *): 함수 종료*

# 04. data structure 자료구조

- 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 1. 문자열 메소드

In [2]:
a = 'hello my name is hong'

In [3]:
print(a)

hello my name is hong

In [4]:
# a[0] = 'H' # error: str is immutable

In [5]:
a.capitalize() # 원본 데이터가 바뀐 것은 아님, 함수의 결과값이 출력된 것

'Hello my name is hong'

In [6]:
'hello my name is hong'.capitalize()

'Hello my name is hong'

In [8]:
a = a.capitalize() # 재할당 -> 원본변경

In [10]:
a.title()

'Hello My Name Is Hong'

In [11]:
a.lower()

'hello my name is hong'

In [12]:
a.upper()

'HELLO MY NAME IS HONG'

In [13]:
'?'.join('배고프다')

'배?고?프?다'

In [14]:
a = '      \t    hello      \n        '
a.strip() # 좌우의 여백으로 생각하는 모든 것을 지워줌

'hello'

In [15]:
a = '!!!!!!!!hello???????'
a.strip('!') # def strip(char=' ')

'hello???????'

In [16]:
a = '----hello---'
print(a.lstrip('-')) # 왼쪽
print(a.rstrip('-')) # 오른쪽

hello---
----hello

In [17]:
a = 'woooooooow'
a.replace('o', '!', 3) # count = 몇개 바꿀지

'w!!!ooooow'

In [18]:
a = 'apple'
print(a.find('a'))
print(a.find('p')) # 첫번째 것만 호출
print(a.find('z')) # -1: 없다는 뜻

0
1
-1

In [19]:
a = 'apple'
print(a.index('a'))
print(a.index('p'))
# print(a.index('z')) # error

0
1

In [20]:
a = 'my name is hong'
a.split() # 띄어쓰기를 기준으로 잘라서 리스트로 만들어줌

['my', 'name', 'is', 'hong']

In [21]:
a.split('e')

['my nam', ' is hong']

In [22]:
a = 'woooooow'
a.count('o')

6

## 2. 리스트 메소드

In [33]:
numbers = [2, 6, 1, 4, 8, 3, 2, 8]

In [34]:
numbers.append(10) # 추가하다, 덧붙이다
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10]

In [35]:
a = [99, 100]
numbers.extend(a) # => numbers + a (concatenation)
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 99, 100]

In [36]:
numbers.insert(3, 55) # 위치를 지정해서 넣을 때 (~로, ~를)
print(numbers)

[2, 6, 1, 55, 4, 8, 3, 2, 8, 10, 99, 100]

In [37]:
# 첫번째 x를 찾아서 제거, 없으면 오류
numbers.remove(8)
print(numbers) # 첫번째 8만 삭제, 두번 실행 시 뒤의 8도 삭제, 없는 걸 삭제하려고 하면 error

[2, 6, 1, 55, 4, 3, 2, 8, 10, 99, 100]

In [38]:
numbers.pop() # 맨 마지막 데이터 제거
print(numbers)

[2, 6, 1, 55, 4, 3, 2, 8, 10, 99]

In [39]:
# stack(후입선출) vs queue(선입선출)

In [40]:
numbers.pop(0) # 원하는 위치의 데이터 제거
print(numbers)

[6, 1, 55, 4, 3, 2, 8, 10, 99]

In [41]:
numbers.sort() # 오름차순 정렬
print(numbers)

[1, 2, 3, 4, 6, 8, 10, 55, 99]

In [43]:
numbers.sort(reverse=True) # 내림차순 정렬/ 원본을 바꿈
print(numbers)

[99, 55, 10, 8, 6, 4, 3, 2, 1]

In [44]:
a = [5, 4, 2, 7, 8, 1]
print(sorted(a)) # 원본을 바꾸지 않고 계산한 결과만 알려줌
print(a)

[1, 2, 4, 5, 7, 8]
[5, 4, 2, 7, 8, 1]

In [45]:
a = ['a', '하', '나', 'b', 'z']
a.sort()
print(a) # 유니코드 기준으로 글자도 정렬

['a', 'b', 'z', '나', '하']

In [46]:
print(numbers)
numbers.reverse()
print(numbers)

[99, 55, 10, 8, 6, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 8, 10, 55, 99]

In [47]:
numbers.count(10)

1

### 4.1. list copy

In [49]:
origin_list = [1, 2, 3]
copy_list = origin_list
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [50]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [51]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] # slicing

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [57]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:]

c_l[0] = 100
c_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [59]:
import copy

o_l = [1, 2, [10, 11]]
c_l = copy.deepcopy(o_l)

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

### 4.2. list comprehension

In [60]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
result = []

for number in numbers:
    temp = number * 3
    result.append(temp)

print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [64]:
result = [number * 3 for number in numbers]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [65]:
# 짝수만 고르기
numbers = list(range(1, 31))
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [66]:
numbers = list(range(1, 31))

result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [77]:
# 연습! 모음제거
words = 'my name is hong'
# => my nm s hng

In [72]:
vowels = 'aeiou'
result = []

for word in words:
    if word not in vowels:
        result.append(word)
        
print(''.join(result))

my nm s hng

In [74]:
vowels = 'aeiou'
result = [word for word in words if word not in vowels]
print(''.join(result))

my nm s hng

In [78]:
vowels = 'aeiou'

for word in vowels:
    words = words.replace(word, '')

print(words)

my nm s hng

## 5. dictionary 메소드

In [80]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'phone_book':{
        'kim': '010-1234-1234',
        'park': '010-4321-4321'
    }, 
    'models': ['iphone', 'ipad'],
}

In [81]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][0])

hong
20
010-4321-4321
iphone

In [82]:
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [84]:
info.update(name='choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [85]:
info.pop('location')
print(info)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [86]:
print(info.get('name'))
print(info['name'])

choi
choi

In [87]:
print(info.get('birth'))
# print(info['birth']) # error

None

In [89]:
# 연습문제
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']

result = {
    'A': 0,
    'B': 0,
    'O': 0,
    'AB':0
}

for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 4, 'B': 2, 'O': 1, 'AB': 2}

In [91]:
# 연습문제2 데이터가 정해지지 않은 상태에서
locations = ['서울', '서울', '대전', '부산', '대구','LA', '파리']
result = {}

for location in locations:
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

### 5.1. dict comprehension

In [95]:
result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [96]:
result = {number: number ** 3 for number in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [97]:
dust = {
    '서울': 40,
    '인천': 100,
    '수원': 30,
    '부산': 0,
}
result = {}

for key, value in dust.items():
    if value <= 30:
        result[key] = value

print(result)

{'수원': 30, '부산': 0}

In [99]:
result = {key: '매우 좋음' for key, value in dust.items() if value <= 30}
print(result)

{'수원': '매우 좋음', '부산': '매우 좋음'}

## 6. Set 메소드

In [105]:
fruits  = {'apple', 'banana', 'melon'}

In [106]:
fruits.add('watermelon')
print(fruits)

{'banana', 'apple', 'watermelon', 'melon'}

In [107]:
fruits.update({'orange', 'grape'})
print(fruits)

{'banana', 'orange', 'watermelon', 'grape', 'apple', 'melon'}

In [108]:
fruits.remove('apple')
print(fruits)

{'banana', 'orange', 'watermelon', 'grape', 'melon'}

In [109]:
fruits.pop() # 랜덤하게 지워줌
print(fruits)

{'orange', 'watermelon', 'grape', 'melon'}

## 7. map, filter, zip

- *공통점: lazy한 계산을 함*

### 7.1. map

- `map(function, iterable)`
    - iterable: 시퀀스 타입 *(반복 가능한 객체)*
- *list 안 모든 데이터의 일괄 처리*

In [111]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [112]:
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x0000021A33E04EB0>
['1', '2', '3', '4', '5']

In [113]:
result = list(map(str, numbers))
print(result)

['1', '2', '3', '4', '5']

In [114]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [115]:
def cube(x):
    return x ** 3

result = map(cube, numbers)
print(result)
print(list(result))

<map object at 0x0000021A35410E80>
[1, 8, 27, 64, 125]

In [116]:
test_input = '1 3 5 7 9'

# 1. 띄어쓰기 기준으로 나눔
test_input.split()

# 2. 각 글자를 숫자로 바꿈
map(int, test_input.split())

# 3. 리스트에 저장
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

### 7.2. filter

- `filter(function, iterable)`
- *True만 골라내기 때문에 T or F만 나오는 함수를 써야함*

In [117]:
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5]

In [118]:
def is_odd(x):
    return x % 2

result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x0000021A35411180>
[1, 3, 5]

### 7.3. zip

In [120]:
a = [1, 2, 3]
b = [100, 200, 300, 400]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x0000021A3590D900>
[(1, 100), (2, 200), (3, 300)]

# 05. module

## 1. 파이썬 내장 패키지

### 1.1. math

In [2]:
import math

In [3]:
math.pi

3.141592653589793

In [4]:
math.e

2.718281828459045

In [5]:
math.ceil(math.e) # 올림

3

In [6]:
math.floor(math.e) # 내림

2

In [7]:
math.sqrt(9)

3.0

In [8]:
math.factorial(10)

3628800

In [9]:
from math import sqrt, factorial

In [10]:
sqrt(16)

4.0

In [11]:
factorial(5)

120

### 1.2. random

In [18]:
import random

In [19]:
random.random() # 0 ~ 1 사이의 랜덤한 소수

0.08718667752263232

In [20]:
random.randint(1, 10) # 지정한 범위의 자연수

7

In [21]:
random.seed(123) # 똑같은 값을 내고 싶을 때 seed를 고정
random.random()

0.052363598850944326

In [22]:
numbers = [1, 2, 3, 4, 5]

random.shuffle(numbers)
print(numbers)

[3, 5, 2, 4, 1]

In [25]:
random.choice(numbers) # 복원추출

2

In [28]:
random.sample(numbers, 2) # 비복원추출

[1, 2]

### 1.3. datetime

In [29]:
from datetime import datetime

In [30]:
datetime.now()

datetime.datetime(2025, 3, 4, 19, 49, 48, 598840)

In [31]:
datetime.today()

datetime.datetime(2025, 3, 4, 19, 49, 54, 667898)

In [32]:
datetime.utcnow() # 그리니치 천문대 기준 영국시간

C:\Users\1-14\AppData\Local\Temp\ipykernel_4052\2518267345.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  datetime.utcnow() # 그리니치 천문대 기준 영국시간

datetime.datetime(2025, 3, 4, 10, 50, 23, 918331)

In [33]:
now = datetime.now() # 데이트 타임 객체

In [34]:
now

datetime.datetime(2025, 3, 4, 19, 50, 57, 311211)

In [35]:
now.year

2025

In [36]:
now.month

3

In [37]:
now.day

4

In [40]:
now.weekday() # 0 = monday

1

In [42]:
print(now)

2025-03-04 19:50:57.311211

In [43]:
now.strftime('%Y년 %m월 %d일')

'2025년 03월 04일'

In [45]:
now.strftime('%y/ %b/ %d')

'25/ Mar/ 04'

In [46]:
x_mas = datetime(2025, 12, 25)
print(x_mas)

2025-12-25 00:00:00

In [47]:
from datetime import timedelta

In [48]:
future = timedelta(days=-100)
print(x_mas + future) # 크리스마스 100일 전

2025-09-16 00:00:00

In [49]:
x_mas - now # 크리스마스까지 며칠 남았는지

datetime.timedelta(days=295, seconds=14942, microseconds=688789)

## 2. 외부 라이브러리

### 2.1. requests

In [50]:
import requests

In [51]:
r = requests.get('http://api.github.com/events')
# print(r.text)

In [55]:
r = requests.get('http://naver.com')
# print(r.text)

In [56]:
payload = {'key1': 'value1', 'key2': 'value2'}
r = requests.get('https://httpbin.org/get', params=payload)
print(r.url)
print(r.text)

https://httpbin.org/get?key1=value1&key2=value2
{
  "args": {
    "key1": "value1",
    "key2": "value2"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.32.3",
    "X-Amzn-Trace-Id": "Root=1-67c6dcae-0852448f5282cff338d33658"
  },
  "origin": "183.96.187.252",
  "url": "https://httpbin.org/get?key1=value1&key2=value2"
}

In [57]:
payload = {'query': '파이썬'}
r = requests.get('https://search.naver.com/search.naver', params=payload)
print(r.url)

https://search.naver.com/search.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC

In [62]:
r = requests.get('http://api.github.com/events')
# print(r.text)
print(type(r.text))
# print(r.text['message']) # error

<class 'str'>

In [69]:
r = requests.get('http://api.github.com/events')
print(type(r.json()))
# print(r.json())

<class 'list'>

In [70]:
# interface: 어떤 물건과 동작하기 위한 접점 ex. 스마트폰의 터치, 키보드의 마우스, tv의 리모컨

In [76]:
lotto_url = 'https://www.dhlottery.co.kr/common.do'
payload = {
    'method': 'getLottoNumber',
    'drwNo': 1159,
}

r = requests.get(lotto_url, params=payload)
print(r.url)
print(r.text)
print(type(r.text))
print(r.json())
print(type(r.json()))

https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=1159
{"totSellamnt":124802304000,"returnValue":"success","drwNoDate":"2025-02-15","firstWinamnt":1284854250,"drwtNo6":39,"drwtNo4":28,"firstPrzwnerCo":23,"drwtNo5":38,"bnusNo":7,"firstAccumamnt":29551647750,"drwNo":1159,"drwtNo2":9,"drwtNo3":27,"drwtNo1":3}
<class 'str'>
{'totSellamnt': 124802304000, 'returnValue': 'success', 'drwNoDate': '2025-02-15', 'firstWinamnt': 1284854250, 'drwtNo6': 39, 'drwtNo4': 28, 'firstPrzwnerCo': 23, 'drwtNo5': 38, 'bnusNo': 7, 'firstAccumamnt': 29551647750, 'drwNo': 1159, 'drwtNo2': 9, 'drwtNo3': 27, 'drwtNo1': 3}
<class 'dict'>

In [80]:
lotto_dict = r.json()
print(lotto_dict['drwNoDate'])
print(lotto_dict['drwtNo1'])
print(lotto_dict['drwtNo2'])
print(lotto_dict['drwtNo3'])
print(lotto_dict['drwtNo4'])
print(lotto_dict['drwtNo5'])
print(lotto_dict['drwtNo6'])

2025-02-15
3
9
27
28
38
39

In [83]:
print(lotto_dict['drwNoDate'])
for i in range(1, 7):
    print(lotto_dict[f'drwtNo{i}'])

2025-02-15
3
9
27
28
38
39

# 06. Errors

## 1. Syntax error

- *문법적 오류*

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [2]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [4]:
print('hello'

_IncompleteInputError: incomplete input (3871997710.py, line 1)

## 2. exception

- *코드가 내 예상과 다르게 동작할 때*

In [5]:
print(3/0) # 수학적으로 불가능

ZeroDivisionError: division by zero

In [6]:
print(hello) # 변수 hello를 찾으려고 시도

NameError: name 'hello' is not defined

In [7]:
1 + '1' # 연산자가 기대하지 않았던 데이터 타입이 들어왔을 때

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [9]:
import random
random.sample([1, 2, 3, 4, 5]) # 인자가 2개 필요한데 1개만 넣음

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [10]:
random.sample([1, 2, 3], 1, 2, 3) # 함수의 규격에 맞춰서 필요한 만큼만 넣어야 함

TypeError: Random.sample() takes 3 positional arguments but 5 were given

In [12]:
# int(4.5)
int('4.5') # 데이터의 규격이 잘못됨

ValueError: invalid literal for int() with base 10: '4.5'

In [13]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [14]:
numbers[100]

IndexError: list index out of range

In [15]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}

my_dict['melon']

KeyError: 'melon'

## 3. 예외처리

```python
try:
    code
except exception:
    code
```

In [19]:
try:
    number = int(input('숫자를 입력해주세요.'))
    print(f'입력하신 {number}의 세제곱은 {number ** 3}입니다.')
except:
    print('숫자를 입력해달라고!!')

숫자를 입력해주세요. 아

숫자를 입력해달라고!!

In [20]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}입니다.')
except ValueError:
    print('숫자 아님')
except ZeroDivisionError:
    print('0으로 나눌 수 없음')

100을 무엇으로 나누겠습니까? 0

0으로 나눌 수 없음

In [23]:
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('error')
else: # exception을 만나지 않았을 때
    print('else')

error

In [24]:
try:
    numbers = [1, 2, 3]
    numbers[1]
except:
    print('error')
else: # exception을 만나지 않았을 때
    print('else')

else

In [25]:
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('error')
finally: # error와 상관없이 출력
    print('finally')

error
finally

In [32]:
def my_div(a, b):
    try:
        return a/b
    except (ValueError, TypeError):
        return 'number'
    except ZeroDivisionError:
        return '0'
    except:
        return 'something wrong'

print(my_div('가', '나'))
print(my_div(1, 0))
print(my_div(1, )) # 함수를 실행하기도 전에 오류가 나서 try를 못만남

number
0

TypeError: my_div() missing 1 required positional argument: 'b'

- 클래스(class): 같은 종류의 집단에 속하는 `속성`과 `행동`을 `정의`한 것
- 속성(attribute): 클래스/인스턴스가 가지고 있는 데이터/값
- 행동(method): 클래스/인스턴스가 가지고 있는 함수/기능
    - *=함수, 객체 안에 들어있는 경우 method라고 부름*
- 인스턴스(instance):  클래스를 실제로 메모리상에 할당한 것
- *클래스는 데이터와 기능(함수)을 함께 묶는 방법을 제공*
- *python은 객체지향언어*

In [35]:
number = 1 + 2j
print(type(number))

<class 'complex'>

In [36]:
print(number.real) # 데이터/값에 접근
print(number.imag)

1.0
2.0

In [37]:
numbers = [1, 2 ,3]
print(type(numbers))

<class 'list'>

In [40]:
numbers.reverse() # 정보에 접근하여 함수 실행()
print(numbers)

[3, 2, 1]

## 1. class

- *함수와 똑같은 구조: 선언과 실행*
- 클래스 선언/정의
```python
class ClassName():
    attribute1 = value1 # 정보/속성/값을 넣는 공간
    attribute2 = value2
    ...

    def method_name1(self): # 함수 만들기
        code

    def method_name2(self):
        code
    ...
```
- 인스턴스화 (클래스 실행): `c = ClassName()`

In [42]:
# 선언(정의)
class MyClass():
    name = 'kim'

    def hello(self):
        return 'hi'

In [43]:
# 인스턴스화
m = MyClass()

In [44]:
print(m)
print(type(m))

<__main__.MyClass object at 0x000001FE4F7374D0>
<class '__main__.MyClass'>

In [45]:
print(m.name)
print(m.hello())

kim
hi

In [46]:
m2 = MyClass()
print(m2.name)
print(m2.hello())

kim
hi

In [47]:
m2.name = 'park'

print(m.name)
print(m2.name)

kim
park

In [55]:
class Phone():
    power = False
    number = '010-0000-0000'
    book = {}
    model = ''

    def on(self): # self = instance 자기 자신
        if self.power == False:
            self.power = True

    def off(self):
        if self.power == True:
            self.power = False

    def call(self, target):
        if self.power == True:
            print(f'{self.number}이(가) {target.number}에게 전화 중')
        else:
            print('power off')

In [56]:
my_phone = Phone()
your_phone = Phone()

In [57]:
my_phone.number = '010-1234-1234'

print(my_phone.number)
print(your_phone.number)

010-1234-1234
010-0000-0000

In [58]:
my_phone.power

False

In [59]:
my_phone.on()

In [60]:
my_phone.power

True

In [61]:
my_phone.call(your_phone) # self 생략 가능

010-1234-1234이(가) 010-0000-0000에게 전화 중

In [63]:
your_phone.call(my_phone)

power off

In [64]:
class Person():
    name = ''
    gender = ''
    age = 0
    height = 0

    def greeting(self):
        print(f'안녕하세요. 나는 {self.name}입니다.')

    def grow(self):
        self.age += 1

In [65]:
p1 = Person()
p2 = Person()

In [67]:
p1.name = 'hong'
p2.name = 'kim'

p1.gender = 'F'
p2.gender = 'M'

p1.age = 20
p2.age = 30

p1.height = 170
p2.height = 180

In [68]:
print(p1.name, p2.name)

hong kim

In [69]:
p1.greeting()

안녕하세요. 나는 hong입니다.

In [76]:
Person.greeting(p1)
# Person.greeting() # error: missing argument

안녕하세요. 나는 hong입니다.

In [72]:
p1.greeting()

안녕하세요. 나는 hong입니다.

## 2. 생성자, 소멸자

```python
class MyClass():

    def __init__(self):
        pass
    def __init__(self):
        pass    
```

In [77]:
class Person():
    name = ''

    def __init__(self, name):
        self.name = name
        print('생성')

    def __del__(self):
        print('소멸')

In [79]:
# p1 = Person() # Person.__init__(p1, name이 없음)
p1 = Person('kim') # Person.__init__(p1. 'kim')
p2 = Person('park')

생성
생성

In [80]:
p1 = Person('kim') # 2번 실행하면 소멸됨
p2 = Person('park')

생성
소멸
생성
소멸

In [81]:
del p1

소멸

In [82]:
del p2

소멸

In [83]:
class Circle():
    pi = 3.14

    def __init__(self, r, x=0, y=0):
        self.r = r
        self.x = x
        self.y = y

    def info(self):
        print(f'반지름: {self.r}, 중심점: ({self.x}, {self.y})')

    def area(self):
        return self.r ** 2 * self.pi

    def round(self):
        return self.r * self.pi * 2

    def move(self, x, y):
        self.x = x
        self.y =y

In [84]:
c1 = Circle(5) # 기본값 인자 활용
c2 = Circle(3, 1, 1)

In [86]:
c1.info()
c2.info()

반지름: 5, 중심점: (0, 0)
반지름: 3, 중심점: (1, 1)

In [87]:
print(c1.area())
print(c2.area())

print(c1.round())
print(c2.round())

78.5
28.26
31.400000000000002
18.84

In [88]:
c1.move(100, 100)
c1.info()

반지름: 5, 중심점: (100, 100)

In [89]:
class Point():
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def info(self):
        print(f'({self.x}, {self.y})')

In [90]:
p1 = Point(1, 1)
p2 = Point(2, 3)

In [91]:
p1.info()

(1, 1)

In [92]:
class Circle():
    def __init__(self, r, point):
        self.r = r
        self.point = point

    def info(self):
        point = self.point
        x = point.x
        y = point.y
        print(f'반지름: {self.r}, 중심점: ({x}, {y})')

In [93]:
c1 = Circle(10, p1)
c2 = Circle(5, p2)

In [95]:
c1.info()

반지름: 10, 중심점: (1, 1)

In [96]:
['a', 'b', 'c'].pop().capitalize()

'C'

## 3. 클래스 변수/ 인스턴스 변수

- 클래스 변수: 클래스 선언 블록 최상단에 위치
- 인스턴스 변수: 인스턴스 내부에서 생성한 변수
```python
class MyClass():
    class_variable = '클래스 변수'

    def __init__(self):
        self.instance_variable = '인스턴스 변수'
```
- *영역 차이 존재, 독립적으로 존재*

In [97]:
class Person():
    name = 'hong'
    age = 10

    def __init__(self, name):
        self.name = name

In [98]:
p1 = Person('oh')
print(p1.name) # 인스턴스 변수
print(p1.age) # 클래스 변수

oh
10

## 4. 클래스 메소드/ 인스턴스 메소드/ 스태틱 메소드

```python
class MyClass():

    def instance_method(self): # 인스턴스 자기 자신
        pass

    @classmethod
    def class_method(cls): # 클래스 개체 자체
        pass

    @staticmethod
    def static_method():
        pass
```

In [99]:
class MyClass():

    def instance_method(self):
        print(self)

    @classmethod
    def class_method(cls):
        print(cls)

    @staticmethod
    def static_method():
        print('static')

In [100]:
mc = MyClass()

mc.instance_method() # => self: 내가 인스턴스화한 자기 자신 그 자체
print(mc)

<__main__.MyClass object at 0x000001FE50A246E0>
<__main__.MyClass object at 0x000001FE50A246E0>

In [101]:
mc.class_method()  # => cls
print(MyClass)

<class '__main__.MyClass'>
<class '__main__.MyClass'>

In [103]:
mc.static_method()

static

In [104]:
class Puppy():
    num_of_puppy = 0

    def __init__(self, name):
        self.name = name
        Puppy.num_of_puppy += 1

    @classmethod
    def info(cls):
        print(f'강아지는 {cls.num_of_puppy}마리')

    # @instancemethod
    def bark(self):
        print(f'멍멍 {self.name}입니다.')

    @staticmethod # 왜 쓰는거지? => 클래스 변수나 인스턴스 변수를 건드리지 않을 때
    def bark2():
        print('왈왈')

In [105]:
p1 = Puppy('choco')
p2 = Puppy('cloud')
p3 = Puppy('apple')

Puppy.info()

강아지는 3마리

In [106]:
p1.bark()
p2.bark()

멍멍 choco입니다.
멍멍 cloud입니다.

In [109]:
p1.bark2()
p2.bark2()

왈왈
왈왈

- 클래스
    - 데이터/변수/속성/attribute
        - 클래스 변수
        - 인스턴스 변수
    - 기능/동작/함수/method
        - 클래스 변수에 접근하려면 클래스 메소드 사용
        - 인스턴스 변수에 접근하려면 인스턴스 메소드 사용
        - 둘 다 필요없는 경우 스태틱 메소드 사용

## 5. 상속

In [111]:
class Person():
    ident = ''

    def __init__(self, name):
        self.name = name

    def greeting(self):
        print(f'hi I am {self.name}')

In [116]:
p1 = Person('hong')
p2 = Person('kim')

In [117]:
p1.greeting()
p2.greeting()

hi I am hong
hi I am kim

In [118]:
p1.ident = '990909-1234567'
p1.ident

'990909-1234567'

In [119]:
class Soldier(Person):
    def soldier_greeting(self):
        print(f'충성! {self.name}입니다.')

    # ident = ''

    # def __init__(self, name):
    #     self.name = name

    # def greeting(self):
    #     print(f'hi I am {self.name}')

In [120]:
s1 = Soldier('굳건이')
s1.greeting()
s1.soldier_greeting()

hi I am 굳건이
충성! 굳건이입니다.

In [121]:
class Soldier(Person):
    def greeting(self):
        print(f'충성! {self.name}입니다.')

In [122]:
s1 = Soldier('굳건이')
s1.greeting() # 내가 만든 게 우선순위가 더 높다

충성! 굳건이입니다.

In [123]:
s1.ident = '25-12341243'
s1.ident # 변수의 이름은 같지만 데이터의 유형은 다를 수 있음

'25-12341243'

In [124]:
class PErson():
    def __init__(self, name, age, email, phone):
        self.name = name
        self.age = age
        self.email = email
        self.phone = phone
class Student(Person):
    def __init__(self, name, age, email, phone, student_id):
        super().__init__(name, age, email, phone)
        self.student_id = student_id

### 5.1 다중상속

In [125]:
class Person():
    def __init__(self, name):
        self.name = name

    def breath(self):
        print('huha')

In [126]:
class Mom(Person):
    gene = 'xx'

    def swim(self):
        print('uhpu uhpu')

In [127]:
class Dad(Person):
    gene = 'xy'

    def run(self):
        print('dadada')

In [128]:
class Child(Mom, Dad):
    pass

In [129]:
c = Child('gold')
c.breath()
c.run()
c.swim()

huha
dadada
uhpu uhpu

In [130]:
c.gene # 변수/함수가 겹친다면 먼저 상속받은 변수/함수가 상속

'xx'